In [1]:
# Dependencies and Setup
#%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import tkinter as tk

# File to Load (Remember to Change These)
NJ_Census_Geo_Data_Demo = "Census_Google_Essex.csv"

# Read Census Data File and store into Pandas Data Frames
nj_census_data_df = pd.read_csv(NJ_Census_Geo_Data_Demo)

nj_census_data_df.head()

,Zip Code,Median Age,Population,State Born,Other State Born,U.S. Born,Foreign Born,Poverty Count,Household Income,Per Capita Income,Name,Poverty Rate,ZipCode_Int,City,County,Zip Code Map,Latitude,Longitude,Average Price,Average Rating
0,7003,37.7,48892,26523,7904,34427,12653,3935,74961,34830,ZCTA5 07003,8.048351,7003,Bloomfield,Essex,View Map,40.803000,-74.18895,1.500000,3.990000
1,7004,46.2,7584,5440,893,6333,1188,30,107417,44601,ZCTA5 07004,0.395570,7004,Fairfield,Essex,View Map,40.879049,-74.29378,1.200000,4.000000
2,7006,45.2,25712,16852,5206,22058,3389,1004,114096,58920,ZCTA5 07006,3.904792,7006,Caldwell,Essex,View Map,40.848999,-74.27917,1.733333,4.330000
3,7009,48.3,12638,8547,2113,10660,1862,230,115926,51017,ZCTA5 07009,1.819908,7009,Cedar Grove,Essex,View Map,40.855854,-74.22898,1.533333,4.122222
4,7017,37.7,36304,18825,7232,26057,9478,5922,41322,22980,ZCTA5 07017,16.312252,7017,East Orange,Essex,View Map,40.770933,-74.20589,1.000000,4.105263

In [2]:
#Extract Essex County Data
Essex_df = nj_census_data_df[nj_census_data_df['County']=='Essex']
Essex_df.head()

,Zip Code,Median Age,Population,State Born,Other State Born,U.S. Born,Foreign Born,Poverty Count,Household Income,Per Capita Income,Name,Poverty Rate,ZipCode_Int,City,County,Zip Code Map,Latitude,Longitude,Average Price,Average Rating
0,7003,37.7,48892,26523,7904,34427,12653,3935,74961,34830,ZCTA5 07003,8.048351,7003,Bloomfield,Essex,View Map,40.803000,-74.18895,1.500000,3.990000
1,7004,46.2,7584,5440,893,6333,1188,30,107417,44601,ZCTA5 07004,0.395570,7004,Fairfield,Essex,View Map,40.879049,-74.29378,1.200000,4.000000
2,7006,45.2,25712,16852,5206,22058,3389,1004,114096,58920,ZCTA5 07006,3.904792,7006,Caldwell,Essex,View Map,40.848999,-74.27917,1.733333,4.330000
3,7009,48.3,12638,8547,2113,10660,1862,230,115926,51017,ZCTA5 07009,1.819908,7009,Cedar Grove,Essex,View Map,40.855854,-74.22898,1.533333,4.122222
4,7017,37.7,36304,18825,7232,26057,9478,5922,41322,22980,ZCTA5 07017,16.312252,7017,East Orange,Essex,View Map,40.770933,-74.20589,1.000000,4.105263

In [3]:
hh_income = []

In [4]:
#Calculate Household Income
hh_income = Essex_df.groupby(['City'])['Household Income'].mean()
#hh_income.head()

In [5]:
#Calculate Median Age
med_age = Essex_df.groupby(['City'])['Median Age'].mean()
#med_age.head()

In [6]:
#Calculate Poverty Rate
pov_rate = Essex_df.groupby(['City'])['Poverty Rate'].mean()
#pov_rate.head()

In [7]:
#Calculate Poverty Count
povcount = Essex_df.groupby(['City'])['Poverty Count'].mean()
#povcount.head()

In [8]:
#Calculate Population
totpop = Essex_df['Population'].sum()
pop = Essex_df.groupby(['City'])['Population'].sum()
poppercent = Essex_df.groupby(['City'])['Population'].sum()/totpop*100
#poppercent

In [9]:
#Calculate Household Income
usorigin = Essex_df.groupby(['City'])['U.S. Born'].sum()
fororigin = Essex_df.groupby(['City'])['Foreign Born'].sum()
#usorigin.head()

In [10]:
# Place all of the data found into a summary DataFrame
pd.options.display.float_format = '{:,.2f}'.format
summary_table = pd.DataFrame({"Average House Hold Income": hh_income,
                              "Average Median Age": med_age,
                              "Population": pop,
                              "Percent": poppercent,
                              "Average Poverty Rate": pov_rate,
                              "Average Poverty Count": povcount,
                              "US Born": usorigin,
                              "Foreign Born": fororigin,
                             })
summary_table['Population'] = summary_table['Population'].map('{:,}'.format)
summary_table['Average House Hold Income'] = summary_table['Average House Hold Income'].map('${:,.2f}'.format)
summary_table['US Born'] = summary_table['US Born'].map('{:,}'.format)
summary_table['Foreign Born'] = summary_table['Foreign Born'].map('{:,}'.format)
summary_table['Percent'] = summary_table['Percent'].map('{:,.2f}%'.format)
summary_table['Average Poverty Rate'] = summary_table['Average Poverty Rate'].map('{:,.2f}%'.format)
summary_table

,Average House Hold Income,Average Median Age,Population,Percent,Average Poverty Rate,Average Poverty Count,US Born,Foreign Born
City,,,,,,,,
Belleville,"$67,782.00",38.80,"36,344",4.54%,9.67%,"3,515.00","24,015","11,036"
Bloomfield,"$74,961.00",37.70,"48,892",6.10%,8.05%,"3,935.00","34,427","12,653"
Caldwell,"$114,096.00",45.20,"25,712",3.21%,3.90%,"1,004.00","22,058","3,389"
Cedar Grove,"$115,926.00",48.30,"12,638",1.58%,1.82%,230.00,"10,660","1,862"
East Orange,"$41,828.50",36.85,"65,226",8.14%,18.95%,"6,082.00","47,163","16,933"
Essex Fells,"$198,750.00",46.60,"2,071",0.26%,1.01%,21.00,"1,910",148
Fairfield,"$107,417.00",46.20,"7,584",0.95%,0.40%,30.00,"6,333","1,188"
Glen Ridge,"$195,714.00",42.10,"7,791",0.97%,3.79%,295.00,"6,755",931
Irvington,"$39,734.00",34.60,"54,715",6.83%,22.94%,"12,551.00","35,780","17,829"
Livingston,"$153,381.00",44.70,"29,955",3.74%,2.26%,678.00,"22,464","7,139"
Maplewood,"$125,036.00",39.80,"24,543",3.06%,5.43%,"1,332.00","19,394","4,785"
Millburn,"$104,786.00",38.50,"7,283",0.91%,4.61%,336.00,"5,267","1,949"
Montclair,"$144,684.50",39.65,"39,012",4.87%,6.67%,"1,537.00","33,172","5,289"
Newark,"$32,163.22",33.34,"282,961",35.32%,28.38%,"8,537.22","182,841","83,149"
Nutley,"$94,128.00",41.20,"28,722",3.59%,5.08%,"1,459.00","22,789","5,350"
Orange,"$38,506.00",35.00,"30,644",3.83%,23.72%,"7,270.00","18,753","11,213"
Roseland,"$110,208.00",48.80,"5,907",0.74%,3.74%,221.00,"5,001",887
Short Hills,"$250,001.00",42.20,"13,097",1.63%,1.21%,159.00,"10,277","2,632"
South Orange,"$121,637.00",33.50,"16,503",2.06%,9.40%,"1,551.00","13,968","2,364"
Verona,"$110,745.00",44.60,"13,893",1.73%,2.79%,387.00,"11,756","2,039"
West Orange,"$93,954.00",41.30,"47,609",5.94%,7.43%,"3,536.00","33,204","13,939"

In [11]:
# Export file as a CSV, without the Pandas index, but with the header
summary_table.to_csv("Essex_County_Census.csv", index=False, header=True)